# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/*
*.kdev4
/src/Button.cpp.orig
/src/Button.hpp.orig
/src/ClockListener.hpp.orig
/src/Drawable.hpp.orig
/src/Entity.hpp.orig
/src/Log.cpp.orig
/src/Log.hpp.orig
/src/ResourceManager.cpp.orig
/src/ResourceManager.hpp.orig
/src/Types.hpp.orig
/src/test/main.cpp.orig
/style.sh
